@keyframes widthIncrease {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}

.App {
  text-align: center;
}

.header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.contactIcon {
  color: white;
  margin-right: 20px;
  margin-left: 20px;

  transition: opacity 0.5s;
  opacity: 1;
}

.contactIcon:hover {
  color: #33a380;
}

.contactIcon.hide {
  opacity: 0;
  pointer-events:none;
  z-index: 1;
}

.lineStyle {
  height: 5px;
  width: 100px;
  background: white;
  animation: 1s ease-out 0s 1 widthIncrease;
  animation-fill-mode: forwards;
}

.particle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#43cea2, #185a9d);
  z-index: -1;
}

.btnStyle {
  z-index: 1;
}

.btnStyle:hover {
  color: #33a380;
}