.App-header {
  background-color: #282c34;
  background: #161415 url(assets/images/header-background.jpg) no-repeat ;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* ------------------------------------------------------------------ */
/* a. General Styles
/* ------------------------------------------------------------------ */

body { 
  background: #414141e5; 
  color: white;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: white !important;
  text-align: center;
}

.skills {
  padding: 20px 20px;
  /* background-color: #2B2B2B; */
  /* color: black; */
}

.experience {
  padding: 20px 20px;
}

.projects {
  padding: 10px 10px;
  text-align: center;
  align-content: center;
  background-color: #2B2B2B;
  color: white;
}

.card {
  color: #2B2B2B;
}

.white_divider {
  height: 2px;
  background-color: white;
  width: 80vw;
  margin: 20px 0px;
}

.divider {
  height: 2px;
  /* width: 80vw; */
  margin: 10px 0px;
}

a:hover {
  text-decoration: none !important;
}

.container {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.row {
  padding: 10px 0px;
  font-weight: 700;
  text-align: center;
}

.col, .col-12 {
  padding: 10px 0px;
  text-align: center;
}

.job {
  text-align: left;
}

.fab, .fas {
  font-size: 30px;
}

.card-img {
  width: 100%;
  min-height: 100px;
  max-height: 200px;
}

 i {
   font-weight: 400;
 }

 .card-text {
   font-weight: 500;
 }

 .link-button {
  color: #fff;
  background-color: #2B2B2B;
  border-color: #2B2B2B;
 }

 .experience-body {
   font-weight: 500;
   padding-top: 10px;
   padding-left: 10px;
 }